* {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	color:  #000;
	font-weight: normal;
}

body { padding-top: 63px; }

.brand {
	font-weight: bold;
	text-decoration: underline;
}

.nav-link { font-size: 0.8em; }
.container-fluid { width: 80%; }

h1, h2 {
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	width: 100%;
	margin: 0.5em 0;
}

h2 { border: 1px solid #123; }

.item { padding: 1em; border-bottom: 1px solid #123; }
.item_text {resize: none; padding-top: 0.5em; }
.item_photo { border-radius: 50px; }


@media (max-width: 768px) {
	h1 { font-size: 1.2em; }
	h2 { font-size: 1em; }
	.item_text { font-size: 0.7em; }
}